// serving up a stylesheet for loginForm.html

// font styles...
@import url(https://fonts.googleapis.com/css?family=Varela);

// dark ui color palette variables...
$dark-mode-backsplash: rgba(21,21,21,1);
$surface-layer: #222222;
$font-color: #FFFFFFFF;
$inactive: rgba(255,255,255,0.4);
$active: rgba(255,255,255,1);
$error-code: rgba(212, 57, 57, 0.76);

// light mode color palette variables...
// none yet ----------------------------

// ---------------------------------------

body {
    background-color: $dark-mode-backsplash;
    font-family: "Varela";
    color: $font-color
}

#login-wrapper {

    .login-header {
        font-size: 34px;
        padding: 5px;
        color: $active;

        h1 {
            font-weight: lighter;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 163.5px;
            width: 17rem;
            height: 2px;
            background-color: $active;
        }
    }

    .login-form {

        transform: translateY(19vh);

        fieldset {
            border: none;
            text-align: center;

            .email, .password {
                display: inline;
            }

            .error {
                color: $error-code;
            }

        }
        
        input[type="email"], input[type="password"] {
            border: none;
            border-bottom: 1px solid $active;
            transition: border-bottom 1s ease;
            background-color: transparent;
            margin: 15px;
            padding: 15px;
            font-size: 20px;
            color: $active;

            &:focus {
                outline: none;
            }

            &:hover::placeholder {
                color: $active;
                transition: color 750ms ease;
            }

            &::placeholder {
                font-style: italic;
                font-size: 24px;
                color: $inactive;
            }

            &.error-detected {
                border-bottom: 1px solid $error-code;
                transition: border-bottom 450ms ease;
            }
        }

        .submission {
            position: relative;
            top: 60px;

            input[type="submit"] {
                background-color: transparent;
                color: $active;
                border: 1px solid $active;
                transition: all 1s ease;
                width: 17rem;
                height: 35px;
                font-size: 22px;
                font-weight: 200;
                font-style: italic;
                cursor: pointer;
                &:hover {
                    background-color: rgba(255,255,255,0.3);
                    transition: background-color 300ms ease-in;
                }

                &:disabled {
                    color: $error-code;
                    border: 1px solid $error-code;
                    transition: all 450ms ease;
                    cursor: default;
                    &:hover {
                        background-color: rgba(255,255,255,0);
                    }
                }
            }
        }
    }
}
