// stylesheet for the Homepage/Landing Page's Overlay

// font styles...
@import url(https://fonts.googleapis.com/css?family=Varela);

$overlay-color: rgba(16,16,16,0.5);
$text-color: rgba(255,255,255,0.5);

#overlay {
    background-color: $overlay-color;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#overlay
{
    color: $text-color;
    font-family: "Varela";
    font-size: 48px;
    text-align: center;
}